<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <h3>Navigation</h3>
            <ul>
                <li><a th:href="@{/form}">Sign up!</a></li>
                <li><a th:href="@{/signup}">Attendees</a></li>
                <li><a th:href="@{/quit}">Log out</a></li>
            </ul>
        </header>

    </body>
</html>
